<!-- app/templates/community/edit_post.html -->
{% extends "community/base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form method="POST" action="{{ url_for('community.edit_post', post_id=post.id) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}
        </div>
        <div>
            {{ form.content.label }}<br>
            {{ form.content(rows=5, class="form-control") }}
        </div>
        <button type="submit">Update Post</button>
    </form>
{% endblock %}
